<section class="bgwhite p-t-66 p-b-60 ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-b-30" style="margin: auto !important;">
        <form class="leave-comment">
          <h4 class="m-text26 p-b-36 p-t-15">
              <b>Sign up</b>
            </h4>
          <br>
          <div class="bo4 of-hidden size15 m-b-20">
            <span class="sizefull" style="color:red; width:4%; margin-left:5px;">*</span>
            <input class="sizefull s-text7 p-l-22 p-r-22" style="width:96%; !importance;" type="text" placeholder="Username" name="username" required minlength="5"  maxlength="20" [(ngModel)]="username" #name="ngModel" (blur)="checkUsername($event)">
          </div>
          <div  class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isValidUserName">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <span>Username can not be blank and is 5 to 20 characters long</span>
          </div>
          <div class="bo4 of-hidden size15 m-b-20">
            <span class="sizefull" style="color:red; width:4%; margin-left:5px;">*</span>
            <input class="sizefull s-text7 p-l-22 p-r-22" type="password" id="password" style="width:96%; !importance;" placeholder="Password" name="password" [(ngModel)]="password">
          </div>
          <div class="bo4 of-hidden size15 m-b-20" id="noti">
            <span class="sizefull" style="color:red; width:4%; margin-left:5px;">*</span>
            <input class="sizefull s-text7 p-l-22 p-r-22" type="password" style="width:96%; !importance;" placeholder="Confirm password" name="confirmPassword" [(ngModel)]="confirmPassword">
          </div>
          <div class="bo4 of-hidden size15 m-b-20">
            <span class="sizefull" style="color:red; width:4%; margin-left:5px;">*</span>
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" style="width:96%; !importance;" placeholder="Full name" name="fullName" [(ngModel)]="fullName">
          </div>
          <div class="bo4 of-hidden size15 m-b-20">
            <label class="radio-inline  s-text7 p-l-22 p-r-22">
              <input type="radio" style="margin-top: 20px;" name="gender" value=1 [(ngModel)]="gender">Male
              <input type="radio" style="margin-top: 20px; margin-left:20px;" name="gender" value=2 [(ngModel)]="gender">Female
            </label>
          </div>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="date" name="birthday" [(ngModel)]="birthday">
          </div>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" placeholder="Address" name="address" [(ngModel)]="address">
          </div>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" placeholder="Phone number" name="phone" [(ngModel)]="phone">
          </div>
          <div class="bo4 of-hidden size15 m-b-20 ">
            <input class="sizefull s-text7 p-l-22 p-r-22 " type="text " placeholder="Email" name="email" [(ngModel)]="email">
          </div>
          <!-- Button -->
          <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4 " (click)="onSignUp()">
            Sign up</button>
        </form>
      </div>
    </div>
  </div>
</section>

