<section class="bgwhite p-t-66 p-b-60 ">
  <div class="container">
    <div class="row">
      <div class="col-md-6 p-b-30">
        <form class="leave-comment">
          <h4 class="m-text26 p-b-36 p-t-15">
							<b>Sign in</b>
						</h4>
          <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="isLoginFail">
            <span>Login failed! Please check your account again!</span>
          </div>
          <br>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="text" placeholder="Username" #username/>
          </div>
          <div class="bo4 of-hidden size15 m-b-20">
            <input class="sizefull s-text7 p-l-22 p-r-22" type="password" placeholder="Password" #password />
          </div>
          <!-- Button -->
          <button class="flex-c-m size2 bg1 bo-rad-23 hov1 m-text3 trans-0-4" type="button" (click)="onLogin(username.value,password.value)">
            Sign in</button>
        </form>
      </div>
    </div>
    Create a new account <a [routerLink]="[{ outlets: { clientRouter: ['/register'] } }]"><strong>
					here</strong></a>
  </div>
</section>

